<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="
        http://www.springframework.org/schema/beans     
        http://www.springframework.org/schema/beans/spring-beans.xsd">
      
       
       <bean id="a1" class="com.concerto.demos.SpringCoreDemo.entity.CollDemo">
       		<property name="fruits">
       			<list>
       				<value>Orange</value>
       				<value>Apple</value>
       			</list>
       		</property>
       		<property name="certificates">
       		<set>
       			<value></value>
       			<ref/>
       		</set>
       		</property>
       		<property name="map">
       			
       			<map>
       				<entry key="" 
       				key-ref=""
       				value="" value-ref=""></entry>

       			</map>
       		</property>
       </bean>
       
</beans>